.instructions {
    padding: 20px;
    width: 56%;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 10px;
    color: forestgreen;
  }
  
  .instructions h2 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  .instructions ul {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
  }
  
  .instructions li {
    margin-bottom: 5px;
    font-size: 1.2em;
  }

  